SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
WALLET_PRIVATE_KEY=your_base58_encoded_private_key
BASE_TOKEN_ADDRESS=address_of_token_you_want_to_trade
QUOTE_TOKEN_ADDRESS=usually_USDC_or_SOL_address
MIN_TRADE_SIZE=0.1
MAX_TRADE_SIZE=1.0
TARGET_DAILY_VOLUME=1000
STOP_LOSS=10